html {
	color: white;
}
body {
  background-color: #444444;
  font-family: arial;
  color: white;
}

h1 {
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 72px;
}

p {
  color: white;
  font-family: arial;
  font-size: 14px;
}

header {
	color: white;
	font-family:arial;
}
nav {
	color: white;
	font-family:arial;
	font-size: 14px;
}
h2 {
	color: white;
	font-family: arial;
	font-size: 36px;
}
h3 {
	color: white;
	font-family: arial;
}
img {
	text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}